@model Mod02_01.Models.Opera

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <div> 
        <ul>
            <li>
            @*@Model.OperaId*@
                @Html.DisplayNameFor(m => m.OperaId)
                @Html.DisplayFor(m => m.OperaId)
            </li>
            <li>
                @*@Model.Title*@
                @Html.DisplayNameFor(m => m.Title)
                @Html.DisplayFor(m => m.Title)
            </li>
            <li>
            @*@Model.Year*@
                @Html.DisplayNameFor(m => m.Year)
                @Html.DisplayFor(m => m.Year)
            </li>
            <li>
            @*@Model.Composer*@
                @Html.DisplayNameFor(m => m.Composer)
                @Html.DisplayFor(m => m.Composer)
            </li>
        </ul>
    </div>
</body>
</html>
